header {
  position: absolute;
  width: 100%;
  height: 100px;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header.project-header {
  background-position: left top;
  background-size: 100%;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-image: url("/assets/png/Design material/01_Background/Img Original Size/Note book paper.png");
}

header.imprint-header {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.0)
  );
}

.max-content {
  max-width: 1440px;
  width: 100%;
  padding: 0 clamp(16px, 3vw, 36px);
  position: relative;
  top: 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 clamp(10px, 2vw, 20px);
  height: 100%;
}
