// Responsive design media queries
@media (max-width: 1024px) {
  header.project-header {
    background-image: url("/assets/png/Design material/01_Background/Img Original Size/Note book paper small.png");

    .header-content {
      .navigation {
        display: none;
      }
    }
    
    .max-content {
      width: 100%;
      padding: 0 20px;
      margin: 0;
      margin-top: 10px;

      .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .language-toggle {
          display: none;
        }

        .initials {
          margin-bottom: 10px;
        }
      }

      .burger-menu {
        display: block;
        z-index: 1100;
      }
    }
  }
}

@media (max-width: 768px) {
  .max-content {
    width: 100%;
    padding: 0 20px;
    margin: 0;
    margin-top: 10px;
  }
  
  header.project-header {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.555),
      rgba(0, 0, 0, 0)
    );
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navigation {
      display: none;
    }

    .language-toggle {
      display: none;
    }

    .initials {
      margin-bottom: 10px;
    }
  }

  .burger-menu {
    display: block;
    z-index: 1100;
  }
}

@media (min-width: 769px) {
  .language-toggle-overlay {
    display: none;
  }
}
