<header>
  <img
    class="initials"
    src="assets/png/logo/Logo.png"
    alt="Logo"
    class="logo"
  />
  <div class="max-content">
    <nav>
      <ul>
        <li><a class="about" href="#about-me">
  <img class="about-image" src="assets/png/Design material/00_Hand-drawn lines/B.1 1.svg" alt="About" />
  About me
</a>
</li>
        <li><a class="skills" href="#skills">Skills</a></li>
        <li><a class="projects" href="#projects">Projects</a></li>
        <li><a class="contact" href="#contact">Contact</a></li>
      </ul>
    </nav>
  </div>
  <img class="toggle" src="assets/png/toggles/Property 1=Toggle Left.png" />
</header>
