<div class="max-content">
  <header>
    <div class="initials">
      <img src="/assets/png/logo/Logo.png" class="logo-normal" alt="Logo" />
      <img
        src="/assets/png/logo/Logo_Hover.png"
        class="logo-hover"
        alt="Logo Hover"
      />
    </div>
    <nav>
      <ul>
        <li>
          <a class="about" href="#about-me">
            <img
              class="about-image"
              src="assets/png/Design material/00_Hand-drawn lines/00_Header/Color option 3/1.png"
              alt="About"
            />
            About me
          </a>
        </li>
        <li>
          <a class="skills" href="#skills">
            Skills
            <img
              class="skills-image"
              src="assets/png/Design material/00_Hand-drawn lines/00_Header/Color option 3/2.png"
              alt="Skills"
            />
          </a>
        </li>
        <li>
          <a class="projects" href="#portfolio">
            Projects
            <img
              class="projects-image"
              src="assets/png/Design material/00_Hand-drawn lines/00_Header/Color option 3/3.png"
              alt="Projects"
            />
          </a>
        </li>
        <li>
          <a class="contact" href="#contact">
            Contact
            <img
              class="contact-image"
              src="assets/png/Design material/00_Hand-drawn lines/00_Header/Color option 3/4.png"
              alt="Contact"
            />
          </a>
        </li>
      </ul>
    </nav>

    <div class="language-toggle" (click)="toggleLanguage()">
      <div class="toggle-container" [class.toggled]="isGerman">
        <div class="toggle-slider"></div>
        <span class="language-label left" [class.active]="!isGerman">EN</span>
        <span class="language-label right" [class.active]="isGerman">DE</span>
      </div>
    </div>
  </header>
</div>