header{
    z-index: 1000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    img{
        width: 150x;
        height: 150px;
    }
    ul{
        display: flex;
        gap: 150px;
    }
    .toggle{
        width: 100px;
        height: 25px;
    }

    
    
}