<section>
  <div class="paper-and-about">
    <div class="torn-papers">
        <img class="paper paper1" src="assets/png/Design material/02_Ripped Paper/Option 3/1.png" alt="Yellow paper">
        <div class="paper-input1">
        <img src="assets/png/icons/About_Me (3).png" alt="location">
        <span>Based in Hamburg</span>
        </div>
        <img class="paper" src="assets/png/Design material/02_Ripped Paper/Option 3/2.png" alt="Blue paper">
        <div class="paper-input2">
        <img src="assets/png/icons/About_Me (2).png" alt="remote">
        <span>Open to work Remote</span>
        </div>
        <img class="paper paper3" src="assets/png/Design material/02_Ripped Paper/Option 3/3.png" alt="Orange paper">
        <div class="paper-input3">
        <img class="dev-img" src="assets/png/icons/About Me 4.png" alt="code">
        <span>Open to learn new Things</span>
        </div>
    </div>

    <div class="about-me">
      <p>WHO'S MORTEZA</p>
      <h1>About Me</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
      <div>Let's talk</div>
    </div>
  </div>
</section>
