
<section>
  <div class="paper-and-about">
    <div class="torn-papers">
      <div class="paper-card paper-card1">
        <div class="paper-content">
          <img src="assets/png/icons/About_Me (3).png" alt="location">
          <span>{{ translationService.t('based_in') }}</span>
        </div>
      </div>
      <div class="paper-card paper-card2">
        <div class="paper-content">
          <img src="assets/png/icons/About_Me (2).png" alt="remote">
          <span>{{ translationService.t('remote_work') }}</span>
        </div>
      </div>
      <div class="paper-card paper-card3">
        <div class="paper-content">
          <img src="assets/png/icons/About Me 4.png" alt="code">
          <span>{{ translationService.t('learning') }}</span>
        </div>
      </div>
    </div>
    <div class="about-me">
      <p>{{ translationService.t('who_am_i') }}</p>
      <h1>{{ translationService.t('about_me_title') }}</h1>
      <img class="line" src="assets/png/Design material/00_Hand-drawn lines/01_About me/Color option 3.png" alt="">
      <p>{{ translationService.t('about_me_text1') }}</p>
      <p>{{ translationService.t('about_me_text2') }}</p>
      <div class="talk-button">{{ translationService.t('lets_talk') }}</div>
    </div>
  </div>
</section>