<section class="hero">
  <div class="max-content">
    <div class="atf-content">
      <div class="hero-row hero-row--top">
        <div class="atf-btn">Hello World!</div>
        <div class="spacer"></div>
      </div>

      <div class="hero-row hero-row--center">
        <h1>Frontend</h1>
      </div>

      <div class="hero-row">
        <div class="spacer"></div>
        <h1>DEVELOPER</h1>
      </div>

      <div class="hero-row hero-row--bottom">
        <div class="spacer"></div>
        <div class="atf-btn">Get in Touch!</div>
      </div>
    </div>
  </div>
</section>
