.hero {
    background: url("./../../../../public/assets/png/Design material/01_Background/Design Size Relation@3x/01_Hero.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 1200px;
    }

    .hero-top,
    .hero-bottom {
        margin: 20px 0;
    }

    .atf-btn {
        border: 2px solid white;
        padding: 10px 20px;
        background-color: transparent;
        border-radius: 25px;
        cursor: pointer;
        width: max-content;
        transition: background-color 0.3s, color 0.3s;
    }

    .atf-btn:hover {
        background-color: white;
        color: black;
    }

    .hero-titles {
        text-align: center;
    }

    h1 {
        font-size: 84px;
        margin: 0;
        line-height: 1;
    }
}
