<section class="hero">
  <div class="max-content">
    <div class="atf-content">
      <div class="hero-row hero-row--top">
        <div class="hand-hello">
          <div class="hello-btn">
            <span class="normal-text">Hello World!</span>
            <span class="hover-text">I'M MORTEZA CHINAHKASH!</span>
          </div>
          <img class="hand" src="assets/png/waving_hand.png" alt="Waving hand" />
        </div>
        <div class="spacer"></div>
      </div>
      <div class="hero-row hero-row-space">
        <h1 class="responsive-title">
          <span>F</span><span>r</span><span>o</span><span>n</span><span>t</span><span>e</span><span>n</span><span>d</span>
        </h1>
        <img class="hero-pic" src="assets/png/testtesttest" alt="Frontend picture of myself" />
      </div>
      <div class="hero-row">
        <div class="spacer"></div>
        <h1 class="responsive-title">
          <span>D</span><span>E</span><span>V</span><span>E</span><span>L</span><span>O</span><span>P</span><span>E</span><span>R</span>
        </h1>
      </div>
      <div class="hero-row hero-row--bottom">
        <div class="spacer"></div>
        <div class="atf-btn">Get in Touch!</div>
      </div>
    </div>
    <div class="hero-socials">
      <div class="social-circle">
        <img class="social-pic" src="assets/png/icons/LinkedIn.png" alt="LinkedIn" />
      </div>
      <div class="social-circle">
        <img class="social-pic" src="assets/png/icons/Github.png" alt="GitHub" />
      </div>
      <div class="social-circle">
        <img class="social-pic" src="assets/png/icons/Mail.png" alt="Mail" />
      </div>
    </div>
  </div>
</section>