.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("./../../../../public/assets/png/Design material/01_Background/Design Size Relation@3x/01_Hero.png");
  background-size: cover;
  background-position: center;
  color: white;
  .atf-content {
    width: 100%;
  }
  .hero-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h1 {
    font-size: 8em;
    margin: 0;
  }
  .atf-btn {
    border: 2px solid white;
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    .atf-btn:hover {
      background-color: white;
      color: black;
    }
  }

  .spacer {
    flex: 1;
  }
}
.max-content {
  max-width: 1440px;
  width: 100%;
}
