<section class="hero">
  <div class="max-content">
    <div class="atf-content">
      <div class="hero-row hero-row--top">
        <div class="hand-hello">
          <img class="hand" src="assets/png/waving_hand.png" />
          <div class="atf-btn hello-btn"><span>Hello World!</span></div>
        </div>
        <div class="spacer"></div>
      </div>
      <div class="hero-row hero-row-space">
        <h1>Frontend</h1>
        <img src="assets/png/testtesttest" alt="Frontend picture of myself" />
      </div>
      <div class="hero-row">
        <div class="spacer"></div>
        <h1>DEVELOPER</h1>
      </div>
      <div class="hero-row hero-row--bottom">
        <div class="spacer"></div>
        <div class="atf-btn">Get in Touch!</div>
      </div>
    </div>
  </div>
</section>
