// Complex animations for skills section
.skills-ring {
  width: calc(10px + 100% + 10px);
  background-image: url("/assets/png/Design material/00_Hand-drawn lines/02_Skills/Color option 3.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
  clip-path: polygon(50% 50%, 15% 7%, 15% 7%, 15% 7%, 15% 7%, 15% 7%, 15% 7%, 15% 7%, 50% 50%);
  animation: revealCycleFrom10 6s ease-in-out infinite;

  &.german {
    height: 75px;
    margin-top: -60px;
  }

  &.english {
    height: 60px;
    margin-top: -50px;
  }
}

@keyframes revealCycleFrom10 {
  0% { clip-path: polygon(50% 50%, 15% 7%, 15% 7%, 15% 7%, 15% 7%, 15% 7%, 15% 7%, 15% 7%, 50% 50%); }
  1% { clip-path: polygon(50% 50%, 15% 7%, 20% 4%, 20% 4%, 20% 4%, 20% 4%, 20% 4%, 20% 4%, 50% 50%); }
  2% { clip-path: polygon(50% 50%, 15% 7%, 25% 2%, 25% 2%, 25% 2%, 25% 2%, 25% 2%, 25% 2%, 50% 50%); }
  3% { clip-path: polygon(50% 50%, 15% 7%, 30% 1%, 30% 1%, 30% 1%, 30% 1%, 30% 1%, 30% 1%, 50% 50%); }
  4% { clip-path: polygon(50% 50%, 15% 7%, 35% 0%, 35% 0%, 35% 0%, 35% 0%, 35% 0%, 35% 0%, 50% 50%); }
  5% { clip-path: polygon(50% 50%, 15% 7%, 40% 0%, 40% 0%, 40% 0%, 40% 0%, 40% 0%, 40% 0%, 50% 50%); }
  6% { clip-path: polygon(50% 50%, 15% 7%, 45% 0%, 45% 0%, 45% 0%, 45% 0%, 45% 0%, 45% 0%, 50% 50%); }
  7% { clip-path: polygon(50% 50%, 15% 7%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 50%); }
  8% { clip-path: polygon(50% 50%, 15% 7%, 50% 0%, 60% 0%, 60% 0%, 60% 0%, 60% 0%, 60% 0%, 50% 50%); }
  9% { clip-path: polygon(50% 50%, 15% 7%, 50% 0%, 70% 0%, 70% 0%, 70% 0%, 70% 0%, 70% 0%, 50% 50%); }
  10% { clip-path: polygon(50% 50%, 15% 7%, 50% 0%, 80% 0%, 80% 0%, 80% 0%, 80% 0%, 80% 0%, 50% 50%); }
  25% { clip-path: polygon(50% 50%, 15% 7%, 50% 0%, 100% 0%, 100% 50%, 100% 100%, 50% 100%, 0% 100%, 0% 50%, 0% 0%, 15% 7%); }
  60% { clip-path: polygon(50% 50%, 15% 7%, 50% 0%, 100% 0%, 100% 50%, 100% 100%, 50% 100%, 0% 100%, 0% 50%, 0% 0%, 15% 7%); }
  85% { clip-path: polygon(50% 50%, 15% 7%, 15% 7%, 15% 7%, 15% 7%, 15% 7%, 15% 7%, 15% 7%, 15% 7%, 15% 7%, 15% 7%); }
  100% { clip-path: polygon(50% 50%, 15% 7%, 15% 7%, 15% 7%, 15% 7%, 15% 7%, 15% 7%, 15% 7%, 15% 7%, 15% 7%, 15% 7%); }
}
