<section id="skills" class="skills">
  <div class="skills-content">
    <div class="skills-header">
      <h3>{{ translationService.t('my_stack') }}</h3>
      <h1>{{ translationService.t('skill_set') }}</h1>
    </div>
    <div class="skills-description">
      <div class="skill-paper">
        <p>
          {{ translationService.t('skill_description') }}
        </p>
      </div>
      <div class="different-skills">
        @for (skill of skills; track skill) {
          <div class="skill">
            <img class="skill-icon" [src]="skill.image"><span>{{ skill.name }}</span>
          </div>
        }
      </div>
    </div>
    <div class="note-pull"
         [class.dragging]="isDragging"
         [class.mobile]="isMobile"
         (mousedown)="onMouseDown($event)"
         (click)="onMobileClick($event)"
         (dragstart)="onDragStart($event)">

      <div class="note note-default"
           [class.visible]="currentState === 'default'">
        @if (currentState !== 'final') {
          <span class="peel-text">{{ isMobile ? translationService.t('click_to_peel') : translationService.t('pull_to_peel') }}</span>
          <img class="arrow" src="/assets/png/Design material/03_Stickers/Arrow.png" alt="">
        }
      </div>

      <div class="note note-transition"
           [class.visible]="currentState === 'transition'">
      </div>

      <div class="note note-final"
           [class.visible]="currentState === 'final'">
        <span class="peel-text text-final">{{ translationService.t('currently_learning') }}</span>
      </div>
    </div>

  </div>
</section>

