<section class="skills">
  <div class="skills-content">
    <div class="skills-header">
      <h3>MY STACK</h3><h1>Skill set</h1>
    </div>
    <div class="skills-description">
      <div class="skill-paper">
        <p>
          My skills are a blend of design and development, allowing me to create
          visually appealing and functional web applications.
        </p>
      </div>
      <div class="different-skills">
        @for (skill of skills; track skill) {
          <div class="skill">
            <img class="skill-icon" [src]="skill.image"><span>{{ skill.name }}</span>
          </div>
        }
      </div>
    </div>
    <div class="note-pull"
         [class.dragging]="isDragging"
         (mousedown)="onMouseDown($event)"
         (dragstart)="onDragStart($event)">

      <img class="note"
           src="assets/png/Design material/03_Stickers/01_Skills - Peel off/Color option 3/A.png"
           [class.visible]="currentState === 'default'"
           draggable="false">

      <img class="note"
           src="assets/png/Design material/03_Stickers/01_Skills - Peel off/Color option 3/B.png"
           [class.visible]="currentState === 'transition'"
           draggable="false">

      <img class="note"
           src="assets/png/Design material/03_Stickers/01_Skills - Peel off/Color option 3/C.png"
           [class.visible]="currentState === 'final'"
           draggable="false">

      @if (currentState !== 'final') {
        <span class="peel-text">Pull to peel</span>
      }
      @if (currentState === 'default') {
        <img class="arrow" src="/assets/png/Design material/03_Stickers/Arrow.png" alt="">
      }
      @if (currentState === 'final') {
        <span class="peel-text text-final">currently learning these Skills:</span>
      }
    </div>

  </div>
</section>

