.portfolio {
  display: flex;
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.projects-content{
    max-width: 1440px;
    width: 90%;
    padding: 0 36px;
    display: flex;
    flex-wrap: wrap;
}
.projects-intro{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.project-card{
    width: 50%;
}
.featured-icon{
    width: 150px;
}
.screen{
    width: 60%;
}
