<section class="portfolio">
  <div class="projects-content">
    <div class="projects-intro">
      <h3>MY CRAFT</h3>
      <h1 class="projects-title">Projects</h1>
      <p class="projects-description">
        Here are a few highlights from my recent portfolio. Each project
        showcases a different challenge I tackled—whether it was building
        responsive UIs, integrating complex APIs, or optimizing performance for
        high-traffic applications. Click any project title to explore the full
        case study, see live demos, and dive into the code on GitHub. I’ve
        included screenshots, key features, and concise lessons learned so you
        can quickly understand the problems I solved and the technologies I
        mastered along the way.
      </p>
    </div>
    @for(project of projects; track project.compId) {
    <div class="project-card">
      <div class="technologies">
        @for(tech of project.technologies; track tech.name) {
            <img [src]="'/assets/png/icons/Skill Icons/' + tech.name + '.png'" />
        }
      </div>





      </div>
    }

  </div>
</section>
