<section class="portfolio">
  <div class="projects-content">
    <div class="projects-intro">
      <div class="header">
        <h3>{{ translationService.t('my_craft') || 'Default text' }}</h3>
        <h1 class="projects-title">{{ translationService.t('projects_title') || 'Default text' }}</h1>
      </div>
      <p class="projects-description">
        {{ translationService.t('projects_description') || 'Default text' }}
      </p>
    </div>

    @for (project of projects; track project.compId) {
    <div class="project-card">
      <div class="project-details">
        <!-- Image Container mit Overlay und Button -->
        <div class="image-container">
          <img
            class="screen"
            [src]="'/assets/png/Design material/screens/' + project.compId + '.png'"
            alt="Project Screenshot"
          />
          <!-- Overlay, das beim Hover erscheint -->
          <div class="overlay"></div>
          <!-- Button, der beim Hover erscheint -->
          <div class="project-details-btn">
            <a [routerLink]="['/projects/project-' + project.compId]">
              {{ translationService.t('project_details') || 'Default text' }}
            </a>
          </div>
        </div>
      </div>

      <div class="project-info">
        <h2 class="project-title">{{ project.title }}</h2>
        <p class="project-description">{{ project.description }}</p>
        <div class="project-links"></div>
      </div>
    </div>
    }
  </div>
</section>

