<section id="portfolio" class="portfolio">
  <div class="projects-content">
    <div class="projects-intro" data-aos="fade-up" data-aos-duration="600">
      <div class="header">
        <h3 data-aos="fade-right" data-aos-delay="100">{{ translationService.t("my_craft") || "Default text" }}</h3>
        <div class="projects-title-container" data-aos="fade-up" data-aos-delay="200">
          <h1 class="projects-title">
            {{ translationService.t("projects_title") || "Default text" }}
          </h1>
          <img
            class="underline"
            src="/assets/png/Design material/00_Hand-drawn lines/03_Portfolio/Color option 3.png"
            alt=""
            data-aos="zoom-in"
            data-aos-delay="300"
          />
        </div>
      </div>
      <p class="projects-description" data-aos="fade-up" data-aos-delay="400">
        {{ translationService.t("projects_description") || "Default text" }}
      </p>
    </div>

    @for (project of projects; track project.compId; let i = $index) {
    <div class="project-card" 
         data-aos="fade-up" 
         [attr.data-aos-delay]="(i * 150) + 500">
      <div class="project-details">
        <!-- Image Container mit Overlay und Button -->
        <div class="image-container">
          <img
            class="screen"
            [src]="project.projectsImageUrl"
            alt="Project Screenshot"
          />
          <!-- Overlay, das beim Hover erscheint -->
          <div class="overlay"></div>          <!-- Button, der beim Hover erscheint -->
          <div class="project-details-btn">
            <a [routerLink]="['/projects/project-' + project.compId]">
              {{ translationService.t("project_details") || "Default text" }}
            </a>
          </div>
        </div>

      </div>      <div class="project-info">
        <h2 class="project-title">{{ project.title }}</h2>
        @if (project.isInProgress) {
          <div class="project-status">
            <span class="status-badge">{{ translationService.t("project_in_progress") }}</span>
          </div>
        }
        <p class="project-description">{{ project.description }}</p>
        <div class="project-links"></div>        <button class="btn"><a [routerLink]="['/projects/project-' + project.compId]">
              {{ translationService.t("project_details") || "Default text" }}
            </a></button>
      </div>
    </div>
    }
  </div>
</section>
