<section class="comments-section">
  <div class="comments-content">
    <div class="comments-header">
      <div class="header-text">
        <div class="arrow-h3">
        <img class="arrow" src="/assets/png/Design material/00_Hand-drawn lines/04_Testimonials/Color option 3.png" alt="">
        <h3>{{ translationService.t('in_their_words') }}</h3>
        </div>
        <h1>{{ translationService.t('colleagues_thoughts') }}</h1>
      </div>
    </div>
    <div class="comment-window">
      @for(comment of comments; track comment.name; let i = $index){
        <div class="comment-card card-{{i}}" [ngStyle]="{'background-image': 'url(' + comment.backgroundImage + ')'}">
          <div class="hover-line"></div>
          <div class="comment-content">
            <p class="comment-text">{{ comment.text }}</p>
            <div class="comment-footer">
              <div class="comment-author">
                <h2 class="comment-name">{{ comment.name }}</h2>
                <p class="comment-role">{{ comment.role }}</p>
              </div>
              <div class="comment-image">
                <img [src]="comment.linkedIn" alt="{{ comment.name }}" />
                <p>{{ translationService.t('profile') }}</p>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>
