<section class="comments-section">
  <div class="comments-content">    <div class="comments-header" data-aos="fade-up">
      <div class="header-text">
        <div class="arrow-h3">
        <img class="arrow" 
             src="/assets/png/Design material/00_Hand-drawn lines/04_Testimonials/Color option 3.png" 
             alt=""
             data-aos="zoom-in"
             data-aos-delay="300">
        <h3 data-aos="fade-right" data-aos-delay="600">{{ translationService.t('in_their_words') }}</h3>
        </div>
        <h1 data-aos="fade-up" data-aos-delay="900">{{ translationService.t('colleagues_thoughts') }}</h1>
      </div>
    </div>
    <div class="comment-window">
      @for(comment of comments; track comment.name; let i = $index){        <div class="comment-card card-{{i}}" 
             [ngStyle]="{'background-image': 'url(' + comment.backgroundImage + ')'}"
             data-aos="fade-up"
             [attr.data-aos-delay]="i * 200">
          <div class="hover-line"></div>
          <div class="comment-content">
            <p class="comment-text">{{ comment.text }}</p>
            <div class="comment-footer">
              <div class="comment-author">
                <h2 class="comment-name">{{ comment.name }}</h2>
                <p class="comment-role">{{ comment.role }}</p>
              </div>
              <a [href]="comment.linkedIn" target="_blank" rel="noopener noreferrer">
              <div class="comment-image">
                <img class="linkedIn-icon" src="/assets/png/icons/LinkedIn.png" alt="" />
                <p>{{ translationService.t('profile') }}</p>
              </div>
              </a>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>
