<div class="impressum">
  <h1>{{ translationService.t('imprint_title') }}</h1>

  <section>
    <h2>{{ translationService.t('imprint_details_title') }}</h2>
    <p>
      Morteza Chinahkash<br />
      Foorthkamp 15<br />
      22419 Hamburg
    </p>
  </section>

  <section>
    <h2>{{ translationService.t('imprint_represented_by') }}</h2>
    <p>Morteza Chinahkash</p>
  </section>

  <section>
    <h2>{{ translationService.t('imprint_contact') }}</h2>
    <p>
      {{ translationService.t('imprint_phone') }}: 0176-22508589<br />
      {{ translationService.t('imprint_email') }}: <a href="mailto:sascha.chinahkash&#64;gmail.com">sascha.chinahkash&#64;gmail.com</a>
    </p>
  </section>

  <section>
    <h2>{{ translationService.t('imprint_disclaimer') }}</h2>

    <h3>{{ translationService.t('imprint_content_liability') }}</h3>
    <p>{{ translationService.t('imprint_content_liability_text') }}</p>

    <h3>{{ translationService.t('imprint_links_liability') }}</h3>
    <p>{{ translationService.t('imprint_links_liability_text') }}</p>
  </section>

  <section>
    <h2>{{ translationService.t('imprint_copyright') }}</h2>
    <p>{{ translationService.t('imprint_copyright_text') }}</p>
  </section>

  <section>
    <h2>{{ translationService.t('imprint_privacy') }}</h2>
    <p>{{ translationService.t('imprint_privacy_text') }}</p>
  </section>

  <footer>
    <p></p>
  </footer>
</div>
<app-footer class="imprint-footer"></app-footer>

