  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: BricolageGrotesque, sans-serif;
  scroll-behavior: smooth;
  cursor: url("/assets/arrowhead-rounded-outline.svg"), auto;
  a {
    text-decoration: none;
    color: inherit;
    cursor: url("/assets/hand-pointer.png"), auto;
  }
  li {
    list-style: none;
  }
}

html, body {
  overflow-x: hidden;
}

.max-content {
  max-width: 1440px;
  width: 100%;
}

@media (min-width: 1800px) {
  .atf-content{
    margin-bottom: 2rem;
  }

  .hero{
    background-position: center 95%;
  }
  
  .max-content {
    max-width: 1440px;
  }
}
@font-face {
  font-family: "Kalam";
  src: url("/assets/fonts/Kalam-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "BricolageGrotesque";
  src: url("/assets/fonts/BricolageGrotesque-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Kalam";
  src: url("/assets/fonts/Kalam-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Kalam";
  src: url("/assets/fonts/Kalam-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

