<footer>
  <div class="footer-content">
    <div class="footer-top">
      <img src="/assets/png/logo/Logo.png" alt="Logo">
      <p>© Morteza Chinahkash 2025</p>
    </div>
    
    <div class="footer-bottom">
      <a href="#legal" class="footer-link">Legal Notice</a>
      <a href="https://github.com/MortezaChinahkash" target="_blank" class="footer-link">GitHub</a>
      <a href="https://linkedin.com/in/yourusername" target="_blank" class="footer-link">LinkedIn</a>
      <a href="mailto:your.email@example.com" class="footer-link">Email</a>
    </div>
  </div>
</footer>
