<footer>
  <div class="footer-content">
    <div class="footer-top">
      <img src="/assets/png/logo/Logo.png" alt="Logo">
      <p>{{ translationService.t('copyright') }}</p>
    </div>
    
    <div class="footer-bottom">
      <a href="#legal" class="footer-link">{{ translationService.t('legal_notice') }}</a>
      <a href="https://github.com/MortezaChinahkash" target="_blank" class="footer-link">{{ translationService.t('github_social') }}</a>
      <a href="https://www.linkedin.com/in/morteza-chinahkash-69420b1a8/" target="_blank" class="footer-link">{{ translationService.t('linkedin') }}</a>
      <a href="mailto:sascha.chinahkash@gmail.com" class="footer-link">{{ translationService.t('mail') }}</a>
    </div>
  </div>
</footer>
